/*---------------------------------
 style-sheet-for-schdule-html-page 
---------------------------------*/
.blogs {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}
.blog-buttons {
  row-gap: 20px;
}
.blog-buttons .blog-btn:first-child{
  background-color: rgb(255, 63, 63);
  color: white;
}
.blog-btn.active{
  background-color: white;
  color: rgb(82, 82, 82);

}
.match {
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 40px 20px;
}
.teams {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.teams img {
  max-width: 40%;
}
.versus {
  font-size: 18px;
  font-weight: bold;
}
.match-info h3 {
  text-align: center;
  font-size: 24px;
  margin: 15px;
}
.match-info p {
  text-align: center;
  font-size: 18px;
  color: #5c5c5c;
}
/*--------------------------
 media-queries-for-tablet
 ---------------------------*/
@media screen and (max-width: 768px) {
  .banner-decs .ellipsis-text {
    display: none;
  }
}
