/* font-family */
/* for body
font-family: 'Merriweather', serif; */
/* font-family: 'Work Sans', sans-serif; */
/* reset-code */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* global-style */
body {
  font-family: "Merriweather", serif;
}
.container {
  width: 1100px;
  max-width: 90%;
  margin: 0 auto;
}
.btn {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  background-color: white;
  color: rgb(255, 255, 255);
  padding: 16px 25px;
  border: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
/* banner-section-start-here */
.banner {
  background-color: #364f6b;
  color: white;
  margin-top: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.banner-text-sec {
  flex-basis: 50%;
  flex-shrink: 0;
  padding: 60px;
}
.banner-text-sec h1 {
  font-size: 54px;
  font-family: "Work Sans", sans-serif;
}
.banner:hover h1 {
  text-shadow: 0 0 5px rgba(221, 221, 221, 0.507);
  transition: text-shadow 0.1s;
}
.banner-text-sec p {
  font-size: 16px;
  line-height: 1.3;
  word-spacing: 2px;
  margin: 30px 0;
  letter-spacing: 0.7px;
}
.banner-text-sec button {
  background-color: #3fc1c9;
  overflow: hidden;
}
/* animation-for-banner-btn */
.banner-text-sec button:hover {
  box-shadow: 0px 0px 10px rgba(211, 211, 211, 0.7);
  transition: box-shadow 0.2s;
}
.banner-text-sec button:hover i {
  transform: translateX(5px);
  transition: transform 0.5s ease-in;
}
.banner-img-sec {
  flex-basis: 50%;
  flex-shrink: 0;
}
.banner-img-sec img {
  max-width: 100%;
  max-height: 100%;
}
/* banner-section-ends-here */
/* blogs-section-start-here */
#blog-section {
  margin-bottom: 100px;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  /* grid-template-rows: repeat(3, 1fr); */
  grid-gap: 15px;
  margin-top: 100px;
}
.blog-buttons {
  grid-area: 1 / 1 / span 1 / span 1;
}
.article-four {
  grid-column: 2 / 3;
}
.article-five {
  grid-column: 3 / 4;
}
.article-six {
  grid-column: 4 / 5;
}
.article-seven {
  grid-column: 2 / 3;
  /* grid-row: 3 / 4; */
}
.article-eight {
  grid-column: 3 / 4;
  /* grid-row: 3 / 4; */
}
.article-nine {
  grid-column: 4 / 4;
  /* grid-row: 3 / 4; */
}
.blog-buttons {
  background-color: #364f6b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px 30px;
  border-radius: 10px;
}
.blog-btn {
  color: rgb(82, 82, 82);
}
.blog-btn.active {
  background-color: rgb(255, 63, 63);
  color: white;
}
.blog-thumbnail img {
  width: 100%;
  max-width: 100%;
}
article {
  box-shadow: 0px 0px 5px lightgray;
  padding-bottom: 10px;
  border-radius: 5px;
}
.article-btn {
  padding: 10px 20px;
  margin: 10px;
  background-color: transparent;
  color: rgb(54, 54, 54);
  border: 1px solid rgb(54, 54, 54);
}
.blogs-title {
  font-size: 20px;
  font-weight: 600;
  color: #2e2e2e;
  line-height: 27px;
  padding: 10px 5px;
}
.blog-info {
  display: flex;
  column-gap: 50px;
  margin: 10px;
  color: #161616b2;
}
.blog-info > p > i {
  margin-right: 5px;
}
.blog-sec-btn {
  text-align: center;
  margin: 30px;
}
.view-all-btn {
  background-color: rgb(255, 63, 63);
  color: white;
  display: none;
}

/* footer-section-start-here */
.footer-container {
  max-width: 100%;
  background-color: #364f6b;
  color: white;
  text-align: center;
  padding: 80px;
}
.footer-header {
  font-size: 40px;
  font-weight: 600;
}
hr {
  margin: 40px auto;
  border-bottom: 1px solid rgba(209, 209, 209, 0.801);
}
.footer-items {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-items a {
  text-decoration: none;
  color: white;
}
.social-icon {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.social-icon a {
  color: white;
  font-size: 28px;
  margin: 0 20px;
}
.fa-brands:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease-out;
}
/* footer-section-ends-here */
/*------------------------------------
 responsive media queries start here 
 ------------------------------------*/

/*-------------------------
  media-queries-for-laptop 
 --------------------------*/
@media screen and (max-width: 992px) {
  .banner-text-sec {
    padding: 40px 35px;
  }
  .banner-text-sec h1 {
    font-size: 46px;
  }
  .blogs-title {
    font-size: 18px;
    line-height: 21px;
  }
  .blog-info {
    margin: 0 10px;
    row-gap: 0;
  }
}
/*--------------------------
 media-queries-for-tablet
 ---------------------------*/
@media screen and (max-width: 768px) {
  .btn {
    font-size: 16px;
    padding: 12px 18px;
  }
  .banner-text-sec {
    flex-basis: 55%;
    padding: 30px 20px;
  }
  .banner-img-sec {
    flex-basis: 45%;
  }
  .banner-text-sec h1 {
    font-size: 32px;
  }
  .banner-text-sec p {
    font-size: 16px;
    line-height: 1;
    word-spacing: 1px;
    margin: 20px 0;
    letter-spacing: 0.5px;
  }
  .banner-decs .ellipsis-text {
    display: none;
  }
  .blog-buttons {
    background-color: transparent;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .blog-buttons {
    grid-column: 1 / -1;
  }
  .blog-btn {
    border: 1px solid rgba(175, 175, 175, 0.74);
  }
  .blogs {
    grid-template-rows: auto;
  }
  .article-one {
    grid-column: 1 / 3;
  }
  .article-two {
    grid-column: 3 / 5;
  }
  .article-three {
    grid-column: 1 / 3;
  }
  .article-four {
    grid-column: 3 / 5;
  }
  .article-five {
    grid-column: 1 / 3;
  }
  .article-six {
    grid-column: 3 / 5;
  }
  .article-seven {
    display: none;
  }
  .article-eight {
    display: none;
  }
  .article-nine {
    display: none;
  }
  .view-all-btn {
    display: inline-block;
  }
  .footer-container {
    padding: 60px 50px;
  }
  .footer-items {
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
  }
}
/*--------------------------
 media-queries-for-mobile
 ---------------------------*/
@media screen and (max-width: 480px) {
  .banner {
    flex-direction: column;
  }
  .banner-text-sec {
    text-align: center;
    padding: 10px 50px;
    padding-top: 40px;
  }
  .banner-text-sec h1{
    font-size: 36px;
  }
  .banner-text-sec p {
    line-height: 1.3;
  }
  .banner-img-sec {
    text-align: center;
  }
  .banner-img-sec img {
    max-width: 65%;
  }
  #blog-section{
    margin-bottom: 40px;
  }
  .blog-buttons {
    flex-direction: column;
    row-gap: 20px;
  }
  .blogs {
    row-gap: 30px;
    padding: 0 30px;
    margin-top: 40px;
  }
  .article-one {
    grid-column: 1 / -1;
  }
  .article-two {
    grid-column: 1 / -1;
  }
  .article-three {
    grid-column: 1 / -1;
  }
  .article-four {
    grid-column: 1 / -1;
  }
  .article-five {
    grid-column: 1 / -1;
  }
  .article-six {
    grid-column: 1 / -1;
  }
  .footer-container{
    padding: 40px 50px;
  }
  hr{
    margin: 20px auto;
  }
  .footer-items{
    flex-direction: column;
  }
}
